<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/cotton/2x/calculator.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
